html, 
body{
    margin: 0;
    padding: 0;
      font-family: "Montserrat", sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
}


#navbar {
  background-color: #333;
  overflow: hidden;
}

#title > h4 {
    font-size: 2rem;
    margin-top: 0.5rem;
}

#title > h1 {
    font-size: 2rem;
    letter-spacing: 4px;
    margin-bottom: 0.5rem;
}

#navbar > ul > li > a{
color: black;
text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

#img > img {
    width: 10px; 
    animation: 2s forwards;

}

@keyframes intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#img > a{
    text-decoration: underline;
}

.custom-btn {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.2rem;
    
}

